{% extends 'blog/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="container py-4">

    <a href="{% url 'blog:post_list' %}" class="btn btn-outline-secondary mb-3">
        ← Back to Posts
    </a>

    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="card-title">{{ post.title }}</h1>

            <p class="text-muted mb-4">
                <small>
                    Published {{ post.publish|date:"M d, Y" }}
                    by {{ post.author }}
                </small>
            </p>

            <div class="content">
                {{ post.desc|linebreaks }}
            </div>
        </div>
    </div>
</div>

<div class=" container text-center">
    <a href="{% url 'blog:post_share' post.id %}" class="btn btn-outline-danger mb-3">
        share message
    </a>
</div>

{% endblock %}